<%= form_for @slide, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <div class="control-group">
      <div class="controls">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Название' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
      <%= f.file_field :slimg  %>
      <%= f.hidden_field :slimg_cache %>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Отменить", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>