<h1>Listing pageimages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pgimg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pageimages.each do |pageimage| %>
      <tr>
        <td><%= pageimage.name %></td>
        <td><%= pageimage.pgimg %></td>
        <td><%= link_to 'Show', pageimage %></td>
        <td><%= link_to 'Edit', edit_pageimage_path(pageimage) %></td>
        <td><%= link_to 'Destroy', pageimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pageimage', new_pageimage_path %>
