<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @otd.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @otd.content %>
</p>

<%= link_to 'Edit', edit_otd_path(@otd) %> |
<%= link_to 'Back', otds_path %>
