

               <!--ПОСЛЕДНИЕ НОВОСТИ-->
               <div class="latest">
                <div class="heading">Свежие новости</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 line">
                        <% @posts.each do |post|  %>

                          <div class="post">
                            <div class="post-date">
                          
                              <%= post.created_at.to_s(:ru_datetime) %>   
                            </div>
                                <div class="post-title">
                              <%= post.title %>
                            </div>
                            <div class="post-content">
                           <%= truncate(strip_tags(raw post.content), length: 92) %>
                          <br>
                          <br>
                          

                      <p><a  class="btn btn-danger btn-xs" href="/posts/<%= post.id %>">Читать</a> </p>

                          </div>
                       
                        </div>
                        <hr>

                            <% end %>

                     </div>
                      
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <% @items.each do |post|  %>

                          <div class="post">
                                <div class="post-date">
                             <%= post.created_at.to_s(:ru_datetime) %>   
                             </div>
                      
                            <div class="post-title">
                              <%= post.title %>
                            </div>


                        
                            <div class="post-content">

                          <%= truncate(strip_tags(raw post.content), length: 92) %>
                          <br>
                          <br>
                            <p><a class="btn btn-danger btn-xs"  href="/posts/<%= post.id %>">Читать</a> </p>

                          </div>


                        </div>
                        <hr>
                            <% end %>
                    </div>
                    <br>

                    <a href="/posts" class="">Архив новостей</a>
                    <br>
                     

                </div>
                <!--/КОНЕЦ ПОСЛЕДНИХ НОВОСТЕЙ-->