<div id="page">


<div class="left">
	<h2>О нас</h2>
</div>

<div class="right">
    <% @pageaboutimagesone.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
    <% @pageaboutimagestwo.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
</div>


<div class="pageContent">
<div class="contentLeft">
  <div class="custom-text">
  <tbody>
    <% @abouttexts1.each do |abouttext| %>
        <h3><%= abouttext.title %></h3>
        <%= raw abouttext.content %>

    <% end %>
</div>
	
  <div class="teamlist">
	<h3>Заведующие отделениями</h3>

	<div class="row">


   <% @people.each do |person| %>
    <div class="person col-lg-4 col-md-4 col-sm-4 text-center">
       

       <h4><%= person.name %></h4>
       <p><%= raw person.content %></p>
<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#<%= person.id %>">
  Фотография
</button>

<!-- Modal -->
<div class="modal fade" id="<%= person.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= person.name %></h4>
      </div>
      <div class="modal-body">
       <img src="<%= person.avatar %>" class="img-responsive">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>  




   </div>
 <% end %>
</div>
<h3>ВАКАНСИИ</h3>
    <% @jobs.each do |job| %>
        <a href="<%= job.dwnld %>">Скачать документ</a>

    <% end %>

 </div>
</div>

<div class="contentRight pad news">
  <h3>Свежие новости</h3>

        <% @posts.each do |post|  %>

                          <div class="post">
                            <h4><%= post.title %></h4>
                            <div class="post-date"><a href="/posts/<%= post.id %>"><img src="images/postlink.png"></a> 
                             <%= post.created_at.to_s(:ru_datetime) %>   </div>
                            <p><%= truncate(strip_tags(post.content), length: 82) %></p>
                        </div>
                        <hr>
        <% end %>
        <hr>
        <h3>Нормативные документы</h3>
<hr>
    <% @documents.each do |document| %>
        <h4><%= document.name %></h4>
        <p><small><%= document.description %></small></p>
        <a href="<%= document.download_link %>" target="blank">Скачать</a></td>
      
    <% end %>
</div>
</div>




</div>