<div id="page">

<div class="left">
	<h2>Пациенту в помощь</h2>
</div>

<div class="right">
    <% @pagehelpimagesone.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
    <% @pagehelpimagestwo.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
</div>

<div class="pageContent">
<div class="contentLeft pad">
	<h3>Задайте вопрос главному врачу</h3>
  <hr>
<p id="notice"><%= notice %></p>

  <%= form_for(@message) do |f| %>

 
            <!-- Name input-->
            <div class="form-group">
              <div class="col-md-12">
                  <%= f.text_field :name, class: 'form-control', placeholder: 'Ваше имя' %>
              </div>
            </div>
         


    
            <!-- Email input-->
            <div class="form-group">
              <div class="col-md-12">
             <%= f.text_field :email, class: 'form-control', placeholder: 'email' %>
             
              </div>
            </div>
    


              <!-- Message body -->
            <div class="form-group">
              <div class="col-md-12">
                <%= f.text_area :message, class: 'form-control', placeholder: 'Сообщение..' %>
              </div>
            </div>
        


                    <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
            <%= f.submit 'Отправить', class: 'btn btn-info' %>
                
              </div>
            </div>
      



<% end %>

   
    
    
          
    
    
       

          
  <h3>Полезные ссылки</h3>

  <div class="links">

    <% @links.each do |link| %>
        <p><%= link.name %></p>
        <a href="<%= link.url %>" class="btn btn-danger btn-sm"target="_blank">Перейти</a>
        <hr>          
        <% end %>

    </div>

</div>

<div class="contentRight">
<div class="link">
        <a href="http://www.gosuslugi.ru/pgu/service/-10000000603_10000020298.html#!_description" target="_blank">
        <img src="images/o.png">
            Записаться на прием</a>
       </div>
    <% @pagehelpimagesplus.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
<div class="link-pay">
        <a href="/" target="_blank">
            Платные услуги<br><small>Скачать прайс</small></a>
       </div>

  
</div>
</div>




</div>