<br><br>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="#" data-target-id="home"><i class="fa fa-home fa-fw"></i>Главная</a></li>
                <li><a href="#" data-target-id="posts"><i class="fa fa-list-alt fa-fw"></i>Новости и статьи</a></li>
                <li><a href="#" data-target-id="docs"><i class="fa fa-file-o fa-fw"></i>Документы</a></li>
                <li><a href="#" data-target-id="people"><i class="fa fa-user-md fa-fw"></i>Сотрудники</a></li>
                <li><a href="#" data-target-id="filials"><i class="fa fa-hospital-o fa-fw"></i>Филиалы</a></li>
                <li><a href="#" data-target-id="otds"><i class="fa fa-hospital-o fa-fw"></i>Отделения</a></li>
                <li><a href="#" data-target-id="slider"><i class="fa fa-laptop fa-fw"></i>Слайдер</a></li>

                <li><a href="#" data-target-id="links"><i class="fa fa-hospital-o fa-fw"></i>Полезные ссылки</a></li>


                <li><a href="#" data-target-id="settings"><i class="fa fa-cogs fa-fw"></i>Настройка страниц</a></li>

                <li><a href="#" data-target-id="jobs"><i class="fa fa-user-md fa-fw"></i>Вакансии</a></li>

                <hr>
                    <li><a href="#" data-target-id="feedback"></i>Обратная связь</a></li>

       
            </ul>
        </div>
        <div class="col-md-9 well admin-content" id="home">
 

            <%=render 'dash' %>

           
        </div>
        <div class="col-md-9 well admin-content" id="posts">
            <%=render 'posts' %>
        </div>
        <div class="col-md-9 well admin-content" id="docs">
            <%=render 'documents' %>
            
        </div>
        <div class="col-md-9 well admin-content" id="people">
            <%=render 'people' %>
            
        </div>
        <div class="col-md-9 well admin-content" id="filials">
            <%=render 'filials' %>
            
        </div>
          <div class="col-md-9 well admin-content" id="otds">
            <%=render 'otds' %>
            
        </div>

           <div class="col-md-9 well admin-content" id="slider">
            <%=render 'slider' %>
            
        </div>
        <div class="col-md-9 well admin-content" id="links">
            <%=render 'links' %>
           
        </div>

        <div class="col-md-9 well admin-content" id="settings">
            <%=render 'editpage' %>
            <%=render 'imagesOnPages' %>

        </div>
           <div class="col-md-9 well admin-content" id="jobs">
            <%=render 'jobs' %>

        </div>

        <div class="col-md-9 well admin-content" id="feedback">
            <%=render 'feedback' %>

        </div>

    </div>
