<!DOCTYPE html>
<html>
<head>
  <title>ЦГБ Батайск</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">

<!--HEADER-->
<header id="header">
	<div class="container">
	 <%=render 'partials/header' %>
	 </div>
</header>
<!--/HEADER-->

<!--MAIN-->
<main id ="main" class="container">
  <%= yield %>
</main>
<!--/MAIN-->

<!--SCRIPT-->
<script type="text/javascript">
$(document).ready(function() {
  if ($("#controller").length) {
    // Your specific controller code here
  }
})
</script>
<script type="text/javascript">

$(document).ready(function()
{
    var navItems = $('.admin-menu li > a');
    var navListItems = $('.admin-menu li');
    var allWells = $('.admin-content');
    var allWellsExceptFirst = $('.admin-content:not(:first)');
    
    allWellsExceptFirst.hide();
    navItems.click(function(e)
    {
        e.preventDefault();
        navListItems.removeClass('active');
        $(this).closest('li').addClass('123');
        
        allWells.hide();
        var target = $(this).attr('data-target-id');
        $('#' + target).show();
    });
});
</script>
</body>
</html>
