<!DOCTYPE html>
<html>
<head>
  <title>ЦГБ Батайск</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">

<!--HEADER-->
<header id="header">
	<div class="container">
	 <%=render 'partials/header' %>
	 </div>
</header>
<!--/HEADER-->

<!--MAIN-->
<main id ="main" class="container">
  <%= yield %>
<!--/MAIN-->

</main>
<div class="foo">


<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2713.9360457556327!2d39.739294!3d47.139519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3bceff6cb2653%3A0x4eaf699fa43b69c7!2z0YPQuy4g0JrRg9C50LHRi9GI0LXQstCwLCAxMzYsINCR0LDRgtCw0LnRgdC6LCDQoNC-0YHRgtC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzQ2ODky!5e0!3m2!1sru!2sru!4v1411997291376" width="940" height="300" frameborder="0" style="border:0"></iframe>
</div>
<br>


<div class="foo">
  <div class="row">
    <div class="col-md-4">
                                <big>(86354) 57164</big>

            <p>346880, Россия, Ростовская область,<br>Батайск, улица Куйбышева, 136</p>
      </div>
        <div class="col-md-4">
        <a href="https://vk.com/club36640547"><i class="fa fa-vk"></i> Мы Вконтакте</a>
      </div>
    <div class="col-md-4 text-right">
      <p>2014 ЦГБ БАТАЙСК</p>
   </div>
  </div>
</div>
<!--SCRIPT-->
<script type="text/javascript">
$(document).ready(function() {
  if ($("#controller").length) {
    // Your specific controller code here
  }
})
</script>
<script type="text/javascript">

$(document).ready(function()
{
    var navItems = $('.admin-menu li > a');
    var navListItems = $('.admin-menu li');
    var allWells = $('.admin-content');
    var allWellsExceptFirst = $('.admin-content:not(:first)');
    
    allWellsExceptFirst.hide();
    navItems.click(function(e)
    {
        e.preventDefault();
        navListItems.removeClass('active');
        $(this).closest('li').addClass('123');
        
        allWells.hide();
        var target = $(this).attr('data-target-id');
        $('#' + target).show();
    });
});
</script>
</body>
</html>
