<!DOCTYPE html>
<html>
<head>
  <title>ЦГБ Батайск</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">

<!--HEADER-->
<header id="header">
	<div class="container">
	 <%=render 'partials/header' %>
	 </div>
</header>
<!--/HEADER-->

<!--MAIN-->
<main id ="main" class="container">
  <%= yield %>
<!--/MAIN-->

</main>
<div class="foo">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86879.60317171621!2d39.736332499999996!3d47.118914499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3bd3491fc6507%3A0xaf5b0f779e8629c2!2z0JHQsNGC0LDQudGB0LosINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sru!4v1411905205856" width="940" height="300" frameborder="0" style="border:0"></iframe>
</div>
<div class="foo">

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<!--SCRIPT-->
<script type="text/javascript">
$(document).ready(function() {
  if ($("#controller").length) {
    // Your specific controller code here
  }
})
</script>
<script type="text/javascript">

$(document).ready(function()
{
    var navItems = $('.admin-menu li > a');
    var navListItems = $('.admin-menu li');
    var allWells = $('.admin-content');
    var allWellsExceptFirst = $('.admin-content:not(:first)');
    
    allWellsExceptFirst.hide();
    navItems.click(function(e)
    {
        e.preventDefault();
        navListItems.removeClass('active');
        $(this).closest('li').addClass('123');
        
        allWells.hide();
        var target = $(this).attr('data-target-id');
        $('#' + target).show();
    });
});
</script>
</body>
</html>
